

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA ATM</title>
    <link rel="stylesheet" href="static/css/atm.css">
</head>
<body>
    <div class="container">
        <section class="sign">
            <h1>Scan RFID</h1>
            <div class="cam"></div>
        </section>
        <section class="atm-top"></section>
        <section class="screen">
                <h3>Your balance is</h3>
                <span class="balance"></span>
                <p class="alerts">
                    <span class="warning"></span>
                    <span class="attempts"></span>
                </p>
        </section>
        <section class="atm-bottom">
                <div class="user-buttons">
                    <button class="withdraw-btn">withdraw</button>
                    <input type="text" class="input-amount" placeholder="$00.00">
                    <button class="deposit-btn">deposit</button>
                </div>
        </section>
        <li class="nav-item">
            <a class="nav-link" href="login">
                <i class="fas fa-fw fa-home"></i>
                <span>Logout</span></a>
        </li>
    </div>
    <section class="atm-base">
        <div>receipts</div>
        <div></div>
    </section>

    <script src="static/js/atm.js"></script>
</body>
</html>


        </div>





