{% extends "layout.html" %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Project Overview</h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Domain</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">AI-Machine Learning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chalkboard fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Dataset Source</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Real-time</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-database fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Algorithm</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">CNN,EyeBlink Detection</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Framework</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Flask</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-archway fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Problem Statment</h6>
                                </div>
                                <div class="card-body text-justify">
                                    The banking sector faces significant challenges in ensuring robust security measures
                                     to protect customer data and prevent fraudulent activities. Traditional authentication
                                      methods, such as passwords and PINs, are susceptible to breaches and impersonation. 
                                      Therefore, there is a need for a secure and efficient banking security system that
                                       utilizes advanced technologies to verify customer identities and detect signs of 
                                       life, thereby mitigating the 
                                    risks associated with unauthorized access and fraudulent transactions.
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Introduction</h6>
                                </div>
                                <div class="card-body text-justify">
                                    With the increasing prevalence of online banking and mobile transactions, 
                                    there is a growing demand for secure and user-friendly authentication systems.
                                     In this context, the proposed solution aims to leverage the power of face
                                      recognition and liveliness detection technologies, along with Convolutional
                                       Neural Networks (CNN), to enhance banking security. By employing these advanced
                                        algorithms, banks can ensure that the person accessing their services is not only 
                                        the genuine account holder but also physically present, thereby reducing 
                                    the likelihood of identity theft and unauthorized account access.
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Proposed Solution</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body text-justify">
                                    The proposed solution involves implementing a two-step authentication process using 
                                    face recognition and liveliness detection. Firstly, the system captures the customer's 
                                    facial image through a secure interface, which is then processed by the CNN algorithm for 
                                    face recognition. By comparing the facial features with the pre-registered data, the system 
                                    can verify the customer's identity with a high degree of accuracy. Secondly, the liveliness 
                                    detection module uses eyeblink detection to ensure that the person in front of the camera is 
                                    alive and not a still photograph or video playback. This additional step adds an extra layer 
                                    of security,
                                     preventing fraudulent activities that may attempt to bypass the system.
                                </div>
                            </div>

                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Conclusion</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardExample">
                                    <div class="card-body text-justify">
                                        By integrating face recognition and liveliness detection into banking security
                                         systems, the proposed solution offers a robust and efficient approach to 
                                         authenticate customer identities and detect signs of life. The utilization of CNN 
                                         algorithms enhances the accuracy and reliability of face recognition, reducing the 
                                         chances of unauthorized access. Furthermore, the incorporation of liveliness detection 
                                         through eyeblink detection adds an extra layer of security, making it difficult for 
                                         fraudsters to exploit the system. Implementing such a solution would significantly 
                                         enhance banking security, ensuring the protection of
                                         customer data and bolstering trust in online banking transactions.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>





        {% endblock %}

        </div>





